<div class="about-inner">
  <h1 class="about-tittle">About us</h1>
  <p class="about-paragraph">
    <span>Lorem</span> ipsum dolor sit amet consectetur, adipisicing elit.
    Perspiciatis id necessitatibus repellendus neque veritatis distinctio
    blanditiis? Eligendi deserunt est architecto distinctio iste quae ex animi
    quisquam? Itaque sit ad perspiciatis? Ea reiciendis eaque, minus id enim
    laudantium minima provident animi, tempora pariatur exercitationem! Mollitia
    quam dolores esse laboriosam. Veniam minima numquam dignissimos repellendus
    eveniet eos ipsam, rerum soluta eum recusandae. Repudiandae fuga sapiente
    recusandae. Incidunt a, sed quo exercitationem vero ullam reprehenderit
    praesentium est obcaecati architecto quisquam deleniti possimus ratione?
    Laudantium quis vero impedit dolorem nisi cumque dolor eligendi consequatur!
    Vel nihil labore atque! Magnam adipisci minus, ullam soluta quis
    repudiandae. Maiores maxime, eos provident omnis dolore natus molestiae
    mollitia nulla. Ut voluptates repudiandae debitis nobis ratione magnam cum
    voluptatibus. Recusandae perferendis dolorum illo officiis dolore libero
    nemo optio iste, ea laudantium delectus hic. Quidem aliquam deleniti
    repellendus voluptate magnam inventore facilis? Asperiores earum,
    reprehenderit ut animi vero eaque distinctio.
  </p>
  <div class="information">
    <div class="left-side">
      <iframe src="https://maps.google.com/maps?q=https://www.google.com/maps/place/Kyiv,+02000/@50.4498854,30.5174922,15.17z/data=!4m5!3m4!1s0x40d4cf4ee15a4505:0x764931d2170146fe!8m2!3d50.4501!4d30.5234&output=embed" width="400px" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="right-side">
      <table class="dialog-table">
        <tr class="table-item"><td>Address: </td><td> some str., some house </td></tr>
        <tr class="table-item"><td>Phone: </td><td>  +380(000-000) </td></tr>
        <tr class="table-item"><td>email: </td><td> some@email.com  </td></tr>
        <tr class="table-item"><td>Work time: </td><td>  7 days 24 hours</td></tr>
      </table>
    </div>
  </div>
</div>
