/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: mypecialFont;
  src: url(https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap);
}


html,
body {
  height: 100%;
}

.cdk-global-scrollblock {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: scroll;
}



.mat-button.mat-primary {
  border: solid 2px rgb(49, 178, 62) !important;
  color: rgb(49, 178, 62);

  &:hover {
    color: white;
    background-color: rgb(49, 178, 62);
    border: solid 2px white;
  }
}

.mat-button.mat-primary:disabled {
  border: solid 2px gainsboro !important;
  background-color: transparent;
  color: gainsboro;

  &:hover {
    color: gainsboro;
    background-color: transparent;
    border: solid 2px gainsboro;
  }

}


.mat-primary{
  color: rgb(49, 178, 62);;
  border-color: rgb(49, 178, 62);
}

.mat-focused{
  border-color: rgb(49, 178, 62);
}

.mat-form-field-appearance-fill:not(.mat-form-field-disabled) .mat-form-field-flex:hover~.mat-form-field-underline .mat-form-field-ripple {
  background-color: rgb(49, 178, 62);
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: rgb(49, 178, 62);
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: darkgray;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: rgb(49, 178, 62);
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: rgb(49, 178, 62);
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: rgb(49, 178, 62);
}
